:root {
  --primary-color: #445ef2;
  --dark-color: #1b1b5e;
}

@font-face {
  font-family: 'DragonHunter';
  src: url('assets/fonts/DragonHunter-9Ynxj.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8e8e8;
  background-image: repeating-linear-gradient(
      to right,
      transparent 0 80px,
      #02062b22 80px 81px
    ),
    repeating-linear-gradient(
      to bottom,
      transparent 0 80px,
      #02062b22 80px 81px
    );
}

body::before {
  position: absolute;
  width: min(1400px, 90vw);
  top: 10%;
  left: 50%;
  height: 90%;
  transform: translateX(-50%);
  content: '';
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  pointer-events: none;
}

.container {
  display: flex;
  height: 100vh;
}

.main__container {
  position: relative;
  width: 40%;
  background: rgba(27, 27, 94, 0.4);
  padding: 2rem;
  overflow: hidden;
}

.main__container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('assets/images/background.jpg') no-repeat center center;
  background-size: cover;
  z-index: -1;
}

.participants__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 60%;
  padding: 1rem;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}
